.app {
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "header header"
  "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  background-color: #eee;
  font-size: calc(10px + 2vmin);
  color: #282c34;

}

.topImage img{
  width: 100%;
  height: 150px;
}

.aboutUser{
  display: grid;
  grid-template-areas:
  "avatar info";
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.avatar img{
  width: 100%;
  grid-area: avatar;
}

.info{
  grid-area: info;
}

.header {
  grid-area: header;
  background: green;
}
.header img{
  width: 100px;
}

.sidebar {
  grid-area: nav;
  background: burlywood;
}

.content {
  grid-area: content;
  background: darkcyan;
}